# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
replay_pid*

# Compilação do .NET
bin/
obj/
out/

# Configurações de usuário
*.user
*.suo
*.vscode/
*.vs/
*.csproj.user
*.sln.cache

# Logs, pacotes e dependências
*.log
logs/
nuget.exe
packages/
node_modules/

# Configurações de build
project.lock.json
project.assets.json
appsettings.*.json

# Arquivos de cache e temporários
*.tmp
*.cache
Thumbs.db
ehthumbs.db

